.icone-moeda {
  width: 1rem;
}

.dialog::backdrop {
  opacity: 0.5;
  background: var(--texto);
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 0;
  border-radius: 1.5rem;
  padding: 2.5rem;
  width: calc(100% - 2rem);
  max-width: 37.5rem;
  background: var(--fundo-geral);
  color: var(--texto);
}
